* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundBlue: rgb(24, 28, 48);
  --beige: rgb(230, 221, 196);
  --grey: rgb(128 128 128);
  --green: rgb(103, 137, 131);

  /* SVG COLORS */

  --blue: rgb(73, 85, 121);
  --cream: rgb(240, 233, 210);

  /* TEXT */
  --white: #fff;
}

body {
  font-family: sans-serif;
  background-color: var(--backgroundBlue);
  font-family: "Karla", sans-serif;
  width: 100%;
  /* Weights: 
  400 500 700 */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.svg {
  width: 100px;
  height: 100px;
}

.svg-exterior {
  animation-name: svg;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.svg-interior {
  animation-name: svg;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes svg {
  0% {
    transform: translateY(-80px);
  }

  100% {
    transform: translateY(0px);
  }
}

.buttons {
  position: relative;
  display: flex;
  gap: 40px;
  width: 300px;
}

.btn {
  height: 60px;
  padding: 20px 30px;
  border-radius: 15px;
  text-transform: uppercase;
  background-color: var(--beige);
  color: black;
  text-decoration: none;
}

.btn-transition:active {
  transform: translate(1%, 1%);
}

.header {
  background-image: url(../assets/images/codigo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header h1 {
  font-size: 3em;
  font-weight: 700;
  padding: 250px 0;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  text-shadow: 5px 5px 10px black;
}

.main-index h2 {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}

.boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 250px 0;
}

.box {
  width: 350px;
  background-color: var(--beige);
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
}

.box-img img {
  width: 100%;
}

.box p {
  font-size: 1.1em;
  margin: 30px 10px;
  text-align: left;
}

.box_button {
  display: inline-block;
  margin: 30px auto;
  text-decoration: none;
  padding: 15px 40px;
  background-color: rgb(24, 28, 48);
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
  border-radius: 15px;
  color: var(--beige);
}

.footer {
  display: flex;

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  background-color: var(--green);
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.footer-left img {
  width: 30%;
  margin: 50px 0;
}

.footer-left p {
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 726px) {
  .boxes {
    flex-direction: column;
    gap: 20px;
  }
}

/* START STYLES HISTORIA.HTML */

.main-historia {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 200px 50px;
}

/* ESTILOS GENERALES PARA TODOS LOS ARTICLES */

.article {
  display: flex;
  padding: 0 40px;
}

.article h2 {
  font-size: 2em;
  width: 50%;
  text-align: center;
  color: var(--white);
}

.article p {
  font-size: 1.1em;
  width: 50%;
  color: var(--beige);
}

/* ESTILOS ESPECIALES PARA CADA ARTICLE */

.article-2 h2 {
  order: 2;
}

.article-3 h2 {
  width: 30%;
}

.article-3 p {
  width: 70%;
}

/* ESTILOS PARA EL ARTICLE DE VIDEO */

.video-container {
  width: 50%;
  min-width: 700px;
  margin: 0 auto;
  margin-top: 100px;
}

.video-container h2 {
  color: var(--white);
  margin-bottom: 20px;
  text-align: center;
}

.video,
.bar,
.video-container h2 {
  width: 100%;
  min-width: 700px;
}

.bar {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 20px;
  top: -50px;
}

.play,
.pause {
  padding: 5px 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
}

.time {
  align-self: center;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.progress {
  position: relative;
  top: -55px;
  width: 100%;
  height: 20px;
  background-color: var(--grey);
}

.progress-bar {
  width: 0%;
  height: 100%;
  background-color: var(--beige);
}

@media (max-width: 900px) {
  .article {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .article p,
  .article h2 {
    width: 100%;
  }
  .article-2 h2 {
    order: 0;
  }
}

/* END STYLES HISTORIA.HTML */

/* START STYLES JUEGO.HTML */

.main-juego {
  width: 70%;
  margin: 0 auto;
}

.main-juego h2 {
  text-align: center;
  color: var(--white);
  font-size: 2.5em;
  margin-top: 100px;
  margin-bottom: 50px;
}

.juego {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pictures,
.boxes-game {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.box-game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 450px;
  text-align: center;
  background-color: var(--grey);
  color: var(--beige);
  margin-bottom: 50px;
  border: 2px solid var(--grey);
}

.box-game:hover {
  background-color: rgb(0 0 0 / 0.3);
}

.reset {
  display: inline-block;
  padding: 10px 60px;
  text-decoration: none;
  margin: 50px 41%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  color: black;
  background-color: var(--beige);
}

.picture-on {
  opacity: 0.5;
}

.picture-move {
  width: 100%;
  height: 100%;
}

/* END STYLES JUEGO.HTML */
